document.pdf
entrada.txt
saida.txt
data/*
src/caso_teste_medio_1.txt
src/caso_teste_medio_2.txt
src/caso_teste_medio_3.txt
src/caso_teste_medio_4.txt
src/caso_teste_pequeno_1.txt
src/caso_teste_pequeno_2.txt
src/caso_teste_pequeno_3.txt
src/caso_teste_pequeno_4.txt
src/caso_teste_muito_pequeno_1.txt
src/caso_teste_muito_pequeno_2.txt